/* .contentHead{
    position: absolute;
    left: 50%;transform: translateX(-50%);
    top:2%;
    font-size: 24px;font-weight: 400;color: var(--theme1-c-active);
} */
.contentHolder{
    position: absolute;
    width: 70vw;height:30.3VW ; /*16(+30% of 16) : 9 aspect ratio h = 0.433*width  */
    top:50%;left: 50%;transform: translate(-50%,-52%);
}
.projectImg{
    position: absolute;right: 0;
    width: 70%;height: 100%;
    border-radius: 10px;   
}
#pr1{content: url("../../images/web/project/2.jpg");}
.projectDesc{
    position: absolute; left: 0;
    width: 30%;height: 100%;
    padding: 1%;padding-left: 0;padding-right: 2%;
    text-align: justify;font-size: 24px;
    color: var(--theme1-c-active);    
    box-sizing: border-box;   
}